body{
  font-family:sans-serif;
}

button{
  padding:6px 10px;
  cursor:pointer;
}

select{
  padding:4px;
}

input{
  padding:4px;
}

h1,h2,h3{
  margin-top:0;
}


.side-menu{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.menu-link{
  display:block;
  padding:12px 14px;
  border:1px solid #ccc;
  text-decoration:none;
  color:inherit;
  background:#fff;
}

.menu-link:hover{
  background:#f5f5f5;
}
